In [ ]:
#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
import pandas as pd
import numpy as np

arr=np.arange(1,10,1)
series = pd.Series(arr)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [ ]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [21]:
arr=np.arange(1,10,1)
series = pd.Series(arr)
print(series)
print(type(series))
l1=list(series)
print(l1)
print(type(l1))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
<class 'pandas.core.series.Series'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [22]:
#3. Write a Pandas program to compare the elements of the two Pandas Series.

In [33]:
series1 = pd.Series([10, 20, 30, 40, 50])
series2 = pd.Series([15, 20, 35, 40, 55])

print(series1==series2)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [ ]:
#4. Write a Pandas program to change the data type of given a column or a Series.

In [30]:
data={'a':[1,2,3],
    'b':[4,5,6],
    'c':[7,8,9]}
df=pd.DataFrame(data)
print(df)
print(type(df['a'][0]))
df['a'] = df['a'].astype(float)
print(type(df['a'][0]))

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9
<class 'numpy.int64'>
<class 'numpy.float64'>

In [31]:
#5. Write a Pandas program to get the powers of an array values element-wise.

In [55]:
data={'a':[2,3,4,5],
    'b':[1,2,3,4]}
df1=pd.DataFrame(data)
print(df1)
df1['a_power_b']=np.power(df1['a'],2)
print(df1)

   a  b
0  2  1
1  3  2
2  4  3
3  5  4
   a  b  a_power_b
0  2  1          4
1  3  2          9
2  4  3         16
3  5  4         25

In [56]:
#6. Write a Pandas program to get the first 3 rows of a given DataFrame.

In [73]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df2=pd.DataFrame(exam_data,labels)
df2.iloc[0:3]

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [94]:
#7. Write a Pandas program to display the default index and set a column as an Index in a given dataframe.

In [4]:
data_test_df=pd.read_excel('data_test.xlsx')
print(data_test_df)
data_test_df=pd.read_excel('data_test.xlsx',index_col=0)
print(data_test_df)
data_test_df=pd.read_excel('data_test.xlsx',index_col=1)
print(data_test_df)

   Streat1  S001   V Alberto   Franco           15/05/2002  35
0  Streat2  S002   V    Gino  Mcneill           17/05/2002  32
1  Streat3  S003  VI    Ryan   Parkes           16/02/1999  33
2  Streat4  S004  VI   Eesha   Hinton           25/09/1998  30
3  Streat5  S005   V    Gino  Mcneill  2002-11-05 00:00:00  31
4  Streat6  S006  VI   David   Parkes           15/09/1997  32
         S001   V Alberto   Franco           15/05/2002  35
Streat1
Streat2  S002   V    Gino  Mcneill           17/05/2002  32
Streat3  S003  VI    Ryan   Parkes           16/02/1999  33
Streat4  S004  VI   Eesha   Hinton           25/09/1998  30
Streat5  S005   V    Gino  Mcneill  2002-11-05 00:00:00  31
Streat6  S006  VI   David   Parkes           15/09/1997  32
      Streat1   V Alberto   Franco           15/05/2002  35
S001
S002  Streat2   V    Gino  Mcneill           17/05/2002  32
S003  Streat3  VI    Ryan   Parkes           16/02/1999  33
S004  Streat4  VI   Eesha   Hinton           25/09/1998  30
S005  Streat5   V    Gino  Mcneill  2002-11-05 00:00:00  31
S006  Streat6  VI   David   Parkes           15/09/1997  32

In [ ]:
#8. Write a Pandas program to display the default index and set a column as an Index in a given dataframe and then reset the index

In [6]:

data_test_df=pd.read_excel('data_test.xlsx')

print("Default Index:")
print(data_test_df)

data_test_df.set_index('Streat1', inplace=True)
print("DataFrame with 'Code' as index:")
print(data_test_df)

data_test_df.reset_index(inplace=True)
print("DataFrame with reset index:")
print(data_test_df)

Default Index:
   Streat1  S001   V Alberto   Franco           15/05/2002  35
0  Streat2  S002   V    Gino  Mcneill           17/05/2002  32
1  Streat3  S003  VI    Ryan   Parkes           16/02/1999  33
2  Streat4  S004  VI   Eesha   Hinton           25/09/1998  30
3  Streat5  S005   V    Gino  Mcneill  2002-11-05 00:00:00  31
4  Streat6  S006  VI   David   Parkes           15/09/1997  32
DataFrame with 'Code' as index:
         S001   V Alberto   Franco           15/05/2002  35
Streat1
Streat2  S002   V    Gino  Mcneill           17/05/2002  32
Streat3  S003  VI    Ryan   Parkes           16/02/1999  33
Streat4  S004  VI   Eesha   Hinton           25/09/1998  30
Streat5  S005   V    Gino  Mcneill  2002-11-05 00:00:00  31
Streat6  S006  VI   David   Parkes           15/09/1997  32
DataFrame with reset index:
   Streat1  S001   V Alberto   Franco           15/05/2002  35
0  Streat2  S002   V    Gino  Mcneill           17/05/2002  32
1  Streat3  S003  VI    Ryan   Parkes           16/02/1999  33
2  Streat4  S004  VI   Eesha   Hinton           25/09/1998  30
3  Streat5  S005   V    Gino  Mcneill  2002-11-05 00:00:00  31
4  Streat6  S006  VI   David   Parkes           15/09/1997  32

In [ ]:
#9. Write a Pandas program to create a dataframe indexing by date and time.

In [9]:

date_range = pd.date_range(start='1/1/2024', periods=10, freq='D')

df = pd.DataFrame(np.random.randn(10, 3), index=date_range, columns=['A', 'B', 'C'])

print(df)

                   A         B         C
2024-01-01  0.742497  1.514315  0.557114
2024-01-02 -0.371223  1.028069  0.637298
2024-01-03 -0.274757 -0.771309 -0.055039
2024-01-04  0.777012 -0.811820 -0.197508
2024-01-05  0.063878  0.628508 -0.337481
2024-01-06  0.109463  1.030131  0.699972
2024-01-07  0.199249 -0.320789  1.885414
2024-01-08 -0.802563 -0.132997  0.511199
2024-01-09 -0.133830  0.641712  1.767632
2024-01-10  0.999132  0.444370 -0.517494

In [ ]:
#10. Write a Pandas program to create a dataframe and set a title or name of the index column.

In [13]:

df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})

df.index.name = 'Indexing'

print(df)

          A  B   C
Indexing
0         1  5   9
1         2  6  10
2         3  7  11
3         4  8  12

In [ ]:
#11. Write a Pandas program to select a specific row of given series/dataframe by integer index.

In [22]:
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})
print(df.iloc[2])

A     3
B     7
C    11
Name: 2, dtype: int64