<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

#### x = 5
#### print(type(x))

#### x = "Hello World"
#### print(type(x))

#### x = 20.5
#### print(type(x))

#### x = ["apple", "banana", "cherry"]
#### print(type(x))

#### x = ("apple", "banana", "cherry")
#### print(type(x))

#### x = {"name" : "John", "age" : 36}
#### print(type(x))

#### x = True
#### print(type(x))

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [5]:
x = 5
x=float(x)
print(x)

5.0

### Insert the correct syntax to convert x into a integer.

In [6]:
x = 5.5
x =int(x)
print(x)

5

## Exercise on string

### Use the `len()` function to print the length of the string.

In [7]:
x = "Hello World"
print(len(x))

11

### Get the first character of the string txt.

In [10]:
txt = "Hello World"
x = txt[0]
print(x)

H

### Get the characters from index 2 to index 4 (llo).

In [23]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [25]:
txt = " Hello World "
x =txt.strip()
print(x)

Hello World

### Convert the value of `txt` to upper case.

In [28]:
txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

### Convert the value of `txt` to lower case.

In [29]:
txt = "Hello World"
txt = txt.lower()
print(txt)

hello world

#### Replace the character` H` with a `J`

In [34]:
txt = "Hello World"
txt = txt.replace('H','J')
print(txt)

Jello World

#### Insert the correct syntax to add a placeholder for the age parameter.

In [36]:
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

### Exercise on Booleans

The statement below would print a Boolean value, which one?

True

In [39]:
print(10 > 9)

True

The statement below would print a Boolean value, which one?

False

In [40]:
print(10 == 9)

False

The statement below would print a Boolean value, which one?

False

In [41]:
print(10 < 9)

False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [44]:
print(Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!''')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

### <font color='gold'>Exercise-2</font>

#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

In [46]:
firstname=input('entre your first name:')
lastname=input('entre your last name:')
print(f'{lastname} {firstname}')

entre your first name: ahmed
entre your last name: shawki

shawki ahmed

### <font color='gold'>Exercise-3</font>

#### Write a Python program that calculates the area of a circle and radius = 1.1

In [50]:
pi=3.14
radius=1.1
area=pi*radius*radius
print(area)

3.7994000000000008

### <font color='gold'>Exercise-4</font>

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

In [56]:
file_name=input('entre file name with extention')
extention=file_name.split('.')[1]
print(f'the extention is {extention}')

entre file name with extention ahmed.exe

the extention is exe

### <font color='gold'>Exercise-5</font>

#### Covert from string to list and tuple value ="Amit"

In [60]:
value='Amit'
mylist=list(value)
print(mylist)
mytuple=tuple(value)
print(mytuple)

['A', 'm', 'i', 't']
('A', 'm', 'i', 't')

 ## After that

### Relace the index 3 in the list

In [65]:
mylist[3]='M'
print(mylist)

['A', 'm', 'i', 'M']

 ### Convert the list to string and print the list

In [67]:
mylist="".join(mylist)
print(mylist)

AmiM

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

In [72]:
color_list = ["Red","Green","White" ,"Black"]
print(f'{color_list[0]}{color_list[-1]}')

RedBlack

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [ ]:
#Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example

In [73]:
print('''
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example''')

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

## <font color='gold'>Exercise- 8</font>

###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com

In [79]:
website='https://www.google.com/'
print(website.startswith('https'))

email='aimt4536@gmail.com'
print(email.endswith('.com'))

True
True

# Thanks ❤

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">